body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
	font-size: 1em;
	line-height: 1.4;
}

h1 { font-size: 5em; padding-top:100px; line-height: 50%; margin-bottom: 5px;}
h2 { margin-top: 0; }

td{ padding: 5px; }

.homeSlide{
  height:700px;
}

/****** Support *****/
.text-center{
	text-align: center;
	padding-left: 16px;
	padding-top: 10px;
}

/****** Activities ****/
.descriptTitle{
	font-weight: 700;
}
.description{
	background: rgba(255,255,255, .5);
	float:left;
	width:40%;
	padding: 20px 20px 20px 20px;
	margin-left: 3em;
	margin-top: 1em;
	font-weight: 400;
	float: left;
}
.description img{
	width:100%;
	padding-top: 5px;
}
.activityDescript{
	position: absolute;
	top: 350px;
	left: 48px;
	background: rgba(255,255,255,.5);
	width: 390px;
}
/****** Weather *****/
.lowTemp{
	color: #555;
	opacity: 0.5;
}
.navlist li{
	display: inline;
	list-style-type: none;
}
.weatherDetails{
	font-size: 13px;
	font-weight: 400;
	line-height: 110%;
	padding-left: 15px;
}
.weatherInfo{
	background: rgba(255,255,255, .5);
	/*border: 5px solid #444 ;*/
	width: 350px;
	height: 200px;
	padding: 30px 20px 20px 20px;
	margin-left: 3em;
	margin-top: 1em;
	font-weight: 700;
	float: left;
}
.weatherInfo-1{
	/*background-color: #fff;*/
	text-align: left;
	position: absolute;
	left: 53px;
	top: 93px;
	width:30%;
}
.weatherInfo-2{
	/*background-color:#fff;*/
	text-align: left;
	position: absolute;
	left: 53px;
	top: 160px;
	height:0px;
	width:30%%;
}
.weatherInfo-3{
	/*background-color:#fff;*/
	text-align: left;
	position: absolute;
	left: 53px;
	top: 227px;
	height:0px;
	width:30%%;
}
.weatherInfo img{
	padding: 7px;
	vertical-align: middle;
	padding-right: 15px;
}
.form_class{
    padding: 0.5em 0.6em;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.no-js { padding-top: 106px; }
.loading { background: url('../img/ico_loading.gif') no-repeat center center; }

section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main { overflow-x: hidden; }

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	position: absolute;
	left: 20%;
	top: 75%;
	width: 100%;
}
	.hsContent h1 {
		color: #fff;
		font-size: 5em;
		line-height: 90%;
	}
	.hsContent p {
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}


.bcg-new-orleans {background-image:url('../img/bcg_slide-new-orleans.jpg')}
.bcg-new-york-city {background-image:url('../img/bcg_slide-new-york-city.jpg')}
.bcg-boston{background-image:url('../img/bcg_slide-boston.jpg')}
.bcg-washington-dc {background-image:url('../img/bcg_slide-washington-dc.jpg')}
.bcg-san-francisco {background-image:url('../img/bcg_slide-san-francisco.jpg')}
.bcg-miami{background-image:url('../img/bcg_slide-miami.jpg')}
.bcg-san-juan{background-image:url('../img/bcg_slide-san-juan.jpg')}
.bcg-seattle{background-image:url('../img/bcg_slide-seattle.jpg')}
.bcg-los-angeles{background-image:url('../img/bcg_slide-los-angeles.jpg')}
.bcg-burlington{background-image:url('../img/bcg_slide-burlington.jpg')}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../img/bcg_slide-1.jpg')}
#slide-1 .hsContent {
	top: auto;
	margin-top:100px;
}

/* Slide 2 */
#slide-2 .hsContent {
	margin-left: -170px;
	margin-top:-400px;
	bottom: 200px;
}

/* Slide 3 */
#slide-3 .hsContent {
	margin-left: -170px;
	margin-top: -400px;
}
	#slide-3 h2 {
		color: #000;
	}

/* Slide 4 */
#slide-4 .hsContent {
	    margin-left: -170px;
	    margin-top: -400px;
}
	#slide-4 h2 {
	    background: none;
	}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
