  <!DOCTYPE html>
<html ng-app="getOuttaTown">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GetOuttaTown</title>
    <meta name="description" content="Find the destinations with the best weather this weekend. ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  </head>

  <body>

  <div ng-controller="destinationsController">
    <ul>
      <li ng-repeat="destination in destinations">
        {{destination.name}}

        {{destination.score}}
        <ul>
          <li ng-repeat="activity in destination.activities">
            {{activity}}
          </li>
        </ul>
        <ul>
          <li ng-repeat="weatherPrediction in destination.weatherPredictions">
            {{weatherPrediction.date}}
            {{weatherPrediction.temperatureMax}}
            {{weatherPrediction.temperatureMin}}
            {{weatherPrediction.icon}}
          </li>
        </ul>
      </li>
    </ul>
  </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>

    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/destinations-controller.js"></script>

  </body>
</html>