<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="getOuttaTown" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>GetOuttaTown</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  <script src="/js/ui/vendor/modernizr-2.7.1.min.js"></script>
</head>


<body class="loading">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->

            <div id="preload">
              <img src="/img/bcg_slide-new-orleans.jpg">
              <img src="/img/bcg_slide-new-york-city.jpg">
              <img src="/img/bcg_slide-boston.jpg">
              <img src="/img/bcg_slide-washington-dc.jpg">
              <img src="/img/bcg_slide-san-francisco.jpg">
              <img src="/img/bcg_slide-miami.jpg">
              <img src="/img/bcg_slide-san-juan.jpg">
              <img src="/img/bcg_slide-seattle.jpg">
              <img src="/img/bcg_slide-los-angeles.jpg">
              <img src="/img/bcg_slide-burlington.jpg">
            </div>

            <main>

              <section id="slide-1" class="homeSlide">
                <div class="bcg">
                  <div class="hsContainer">
                    <div class="hsContent">
                      <h1>GET OUTTA TOWN.</h1>
                      <div style="width: 400px; margin: auto; height:70px; vertical-align: middle; display: inline-block;"> 
                        <h3>Your weekend, planned. </h3>
                      </div>
                    </div>
                  </div>
                </div>
              </section>

              <div ng-controller="destinationsController">
                <div ng-repeat="destination in destinations">
                  <section class="homeSlide" skrollr-tag>
                    <div class="bcg bcg-{{destination.slug}}">
                      <div class="hsContainer">
                        <div class="hsContent">
                          <h2>{{$index + 1}}. {{destination.name}}, {{destination.state}}</h2>
                          <div class="weatherInfo">
                            <div class="weatherInfo-1">
                              <table>
                                <tr ng-repeat="prediction in destination.weatherPredictions">
                                  <td><img src="/img/icon-{{prediction.icon}}.png"</td>
                                  <td>{{prediction.date}}</td>
                                  <td>{{prediction.temperatureMax}}&deg;F</td>
                                  <td class="lowTemp">{{prediction.temperatureMin}}&deg;F</td>
                                  <td class="weatherDetails">Precipitation: {{prediction.precipProbability}}%<br>Wind: {{prediction.windSpeed}} mph</td>
                                </tr>
                              </table>
                            </div> <!-- close weatherInfo-1 div-->
                          </div> <!-- close weatherInfo div-->

                          <div class="activityDescript">
                            <ul ng-repeat="activity in destination.activities">
                              <li>{{activity}}</li>
                            </ul>
                          </div>
                        </div> <!-- close hsContent div -->
                      </div> <!-- close hsContainer div -->
                    </div>
                  </section>

                  <div ng-if="$last" class="footer">
                    Made by <a href="http://emilybread.com/" target="_blank">Emily Pan</a>, <a href="http://katiewsimon.com/" target="_blank">Katie Simon</a>, and <a href="http://michaelgarate.com." target="_blank">Michael Garate</a> with the forecast.io weather api. 
                  </div>

                </div><!-- end ng-repeat -->
              </div><!-- destinationsController -->

            </main>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/ui/vendor/jquery-1.9.1.min.js"><\/script>')</script>
            <script src="/js/ui/imagesloaded.js"></script>
            <!-- <script src="/js/ui/skrollr.js"></script> -->
            <script src="/js/ui/_main.js"></script>



            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>

            <script type="text/javascript" src="/js/app.js"></script>
            <script type="text/javascript" src="/js/controllers/destinations-controller.js"></script>

            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-49717852-4', 'auto');
              ga('send', 'pageview');

            </script>

          </body>
          </html>
